* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::selection {
    background: #7d2ae8;
    color: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #7d2ae8;
}

.wrapper {
    position: relative;
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.yes {
    background: #7d2ae8;
    color: white;
}

.yes:hover {
    background: #5b1bb0;
}

.no {
    background: red;
    color: white;
    /* position: absolute; */
}

.confetti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
}